doctype html
html
  head
    title= title
    style
      include ./../style.css
  body
    h1= message
    div(class="wrapper")
      each colleague in colleagues
        div(class="colleague")
          img(src=colleague.portrait , alt=colleague.name + '_portrait')
          h2(class="name")= colleague.name
          p(class="office")= office
          if colleague.socials
            ul(class="socials")
            each social in colleague.socials
              li= social.social